
@{
    ViewData["Title"] = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>


<p id="demo"></p>


fghjfgjfghjfhg



<script>


function myDisplayer(some) {
  document.getElementById("demo").innerHTML = some;
}

  function getFile(myCallback) {
  let req = new XMLHttpRequest();
  req.open('GET', "/index.html");
  req.onload = function() {
    if (req.status == 200) {
      myCallback(this.responseText);
    } else {
      myCallback("Error: " + req.status);
    }
  }
  req.send();
}


getFile(myDisplayer); 
</script>
