.featureBody img{
    max-width: 9rem;
}
.form_Event .form-group label {
    margin: .5rem;
}

#adminForm {
    max-width: 20rem;
    margin: auto
}

    #adminForm input {
        margin: 1rem;
    }